<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pursuit</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/css-kanban/main.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script defer src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script defer src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>

<body>
    <header class="display-flex justify-space-between align-center p-2">
    <h1>
    Pursuit
    </h1>
    <h2>
    A Job Tracking App
    </h2>
    <!-- Only display the logout button if the user is logged in -->
    {{#if logged_in}}
    <nav>
        
        <button type="button" class="btn cancel" onclick="openForm()">+ Add New Job</button>
        <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
    </header>
    <main>
    {{{ body }}}

    <div class="form-popup hide flex" id="myForm">
        <form class="form-container flex">
            <h1 class="text-center">Enter Job Information</h1>

            <label for="company"><b>Company</b></label>
            <input type="text" placeholder="Company Name" name="company" required>

            <label for="jobTitle"><b>Job Title</b></label>
            <input type="text" placeholder="Enter Job Title" name="jobTitle" required>

            <label for="salary"><b>Salary</b></label>
            <input type="text" placeholder="Salary if Known" name="salary">

            <label for="date"><b>Date Applied</b></label>
            <input type="text" placeholder="Date Applied" name="date" required>

            <button class="company" type="submit" class="btn text-center" onclick="createRoot()">Submit</button>
            <button type="button" class="btn cancel justify-items-center" onclick="closeForm()">Close</button>
        </form>
    </div>
  

    </main>
    <footer>

    </footer>

    <!-- Only include the script if the user is logged in -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    <script src="/api-kanban/KanBanAPI.js"></script>
    <script src="/view/DropZone.js"></script>
    <script src="/view/Item.js"></script>
    <script src="/view/Column.js"></script>
    <script src="/view/Kanban.js"></script>
    <script src="/js/main.js"></script>
    {{/if}}
</body>

</html>