<div id="wishlist" class="droptrue">

{{#each users as |user| }}
<div class="row align-center mb-5">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
</div>
{{/each}}
</div>
<div id="apply" class="droptrue">
</div>
<script defer src="/js/sortable.js">

</script>