<form id="form1">
        <input type="text" name="job" id="jobSearch" placeholder="Enter Job Title">
        <input type="text" name="location" id="area" placeholder="Enter City, State, or Country">
        <input type="submit" id="btn1">
    </form>
    <div id="jobs">

    </div>









<script src="/js/search.js"></script>
