<h1 class="searchH1">Your dream job awaits! Fill out the form below to search!</h1>
<form id="form1">
        <input type="text" name="job" id="jobSearch" placeholder="Enter Job Title">
        <input type="text" name="location" id="area" placeholder="Enter City, State, or Country">
        <input type="submit" id="btn1">
    </form>
    <div id="jobs">

    </div>








<link rel="stylesheet" href="/public/css/searchs.css">
<script src="/js/search.js"></script>
