<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pursuit</title>
    <link rel="stylesheet" href="/css/jass.css">
</head>


<body class="searchPage">

  <a href="/home" class="btn backHome" id="newSearch">Back to Home</a>

<h1 class="searchH1">Your dream job awaits! Fill out the form below to search!</h1>

<form id="form1">
        <input type="text" name="job" id="jobSearch" placeholder="Enter Job Title">
        <input type="text" name="location" id="area" placeholder="Enter City, State, or Country">
        <input type="submit" id="btn1">
    </form>
    
    <div id="jobs">
<div id="my-template" style="display:none">
  <div class="card">
    <a href="{href}">
      <img data-src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" style="width:50px">
    </a>
    <h2>{title}</h2>
  </div>
</div>
    </div>









<script src="/js/search.js"></script>
</body>