<form id="form1">
        <input type="text" name="job" id="jobSearch" placeholder="Enter Job Title">
        <input type="text" name="location" id="area" placeholder="Enter City, State, or Country">
        <input type="submit" id="btn1">
    </form>
{{#each users as |user| }}
    <div id="jobs">

    </div>

{{/each}}








<script src="./api.js"></script>
